/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@charset "UTF-8";

/**btn*/
.ContactBtnBox {
  overflow: hidden;
  position: relative;
  height: 20px;
  margin-bottom: 30px;
}
/* line 240, ../sass/index/index-about.scss */
.ContactBtnBox:hover a {
  -webkit-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  transform: translateY(-105%);
}

/* line 246, ../sass/index/index-about.scss */
.IndexAboutR {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  height: 100px;
}
.IndexAboutR-center {
  margin: 0 auto;
}
.IndexAboutR-right {
  margin: 0;
}
/* line 253, ../sass/index/index-about.scss */
.IndexAboutR b {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 100%;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  text-transform: uppercase;
}
/* line 265, ../sass/index/index-about.scss */
.IndexAboutR b:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
/* line 277, ../sass/index/index-about.scss */
.IndexAboutR i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
/* line 285, ../sass/index/index-about.scss */
.IndexAboutR i:after,
.IndexAboutR i:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
/* line 295, ../sass/index/index-about.scss */
.IndexAboutR i:after {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 299, ../sass/index/index-about.scss */
.IndexAboutR i:before {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 304, ../sass/index/index-about.scss */
.IndexAboutR a {
  position: relative;
  height: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  width: 100%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
/* line 317, ../sass/index/index-about.scss */
.IndexAboutR a:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
/* line 332, ../sass/index/index-about.scss */
.IndexAboutR a:hover i:after {
  margin-bottom: 13px;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 337, ../sass/index/index-about.scss */
.IndexAboutR a:hover i:before {
  margin-bottom: 13px;
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
/* line 343, ../sass/index/index-about.scss */
.IndexAboutR a:hover b {
  -webkit-transform: translateY(-63%);
  -ms-transform: translateY(-63%);
  transform: translateY(-63%);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/*form**/
.clearfix {
  zoom: 1;
}

.contacts__content .area {
  position: relative;
  height: 140px;
}

.input-area {
  width: 100%;
  height: 90px;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  resize: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.rolling-block {
  position: relative;
}
.roll-hover-btn {
  font-family: roboto_condensedbold, sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.roll-hover-btn:hover .roll-hover-btn__label {
  -webkit-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  transform: translateY(-105%);
}
.roll-hover-btn__label {
  position: relative;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.prev-next-page .roll-hover-btn__label {
  font-family: uni_sansheavy_caps, sans-serif;
}
.features-skip .roll-hover-btn,
.features-skip .roll-hover-btn__label,
.features-skip .rolling-block__content {
  height: 40px;
}
.portfolio-controls .filter .roll-hover-btn__label {
  letter-spacing: 1.5px;
}
.roll-hover-btn__label {
  position: relative;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.roll-hover-btn:hover .roll-hover-btn__label {
  -webkit-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  transform: translateY(-105%);
}
.roll-hover-btn__label {
  position: relative;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.line-hover-btn {
  font-family: roboto_condensedbold, sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  position: relative;
}
.line-hover-btn p {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.line-hover-btn:before {
  width: 0;
  height: 1px;
  -webkit-transition: width 0.35s;
  -o-transition: width 0.35s;
  transition: width 0.35s;
}
.line-hover-btn:after,
.line-hover-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  background-color: #fff;
}
.line-hover-btn:after {
  width: 4px;
  height: 4px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.line-hover-btn.line-hover-btn_right:before {
  left: 100%;
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
.line-hover-btn.line-hover-btn_right:after {
  right: -135px;
}
.line-hover-btn.line-hover-btn_right:hover:before {
  width: 90px;
}
.line-hover-btn.line-hover-btn_right:hover:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.line-hover-btn.line-hover-btn_right:hover p {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.line-hover-btn.line-hover-btn_left:before {
  right: 100%;
  -webkit-transform: translate3d(-30px, 0, 0) scaleX(-1);
  transform: translate3d(-30px, 0, 0) scaleX(-1);
}
.line-hover-btn.line-hover-btn_left:after {
  left: -131px;
}
.line-hover-btn.line-hover-btn_left:hover:before {
  width: 90px;
}
.line-hover-btn.line-hover-btn_left:hover:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.line-hover-btn.line-hover-btn_left:hover p {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.action-btn {
  position: relative;
  height: 100px;
  display: inline-block;
  pointer-events: none;
  border-bottom: 1px solid #fff;
}
.action-btn .action-btn__label {
  position: relative;
  display: inline-block;
  height: 100%;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3375s ease-in-out;
  transition: -webkit-transform 0.3375s ease-in-out;
  -o-transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out, -webkit-transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out,
    -webkit-transform 0.3375s ease-in-out;
}
.action-btn .action-btn__label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.action-btn .action-btn__label .rolling-block-wrap,
.action-btn .action-btn__label span {
  position: relative;
  cursor: pointer;
  pointer-events: visiblePainted;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.action-btn .action-btn__label .rolling-block-wrap:before,
.action-btn .action-btn__label span:before {
  content: "";
  display: block;
  position: absolute;
  visibility: hidden;
  z-index: -1;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #121212;
}
.action-btn .action-btn__line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
}
.action-btn .action-btn__line:after,
.action-btn .action-btn__line:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: top 0.45s ease-in-out;
  -o-transition: top 0.45s ease-in-out;
  transition: top 0.45s ease-in-out;
}
.action-btn .action-btn__line:before {
  -webkit-transition-delay: 0.1125s;
  -o-transition-delay: 0.1125s;
  transition-delay: 0.1125s;
}
.action-btn .action-btn__line:after {
  -webkit-transition-delay: 0.3375s;
  -o-transition-delay: 0.3375s;
  transition-delay: 0.3375s;
}
.action-btn:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.action-btn:hover .action-btn__label {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}
.action-btn:hover .action-btn__label .rolling-block-wrap:before,
.action-btn:hover .action-btn__label span:before {
  visibility: visible;
}
.action-btn:hover .action-btn__line:after,
.action-btn:hover .action-btn__line:before {
  top: -15px;
}

.menu.hidden .rolling-block__content {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}
.menu__content .rolling-block__content {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.input-field:focus + label i {
  width: 100%;
}
.line-hover-btn {
  font-family: roboto_condensedbold, sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  position: relative;
}
.line-hover-btn p {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.line-hover-btn:before {
  width: 0;
  height: 1px;
  -webkit-transition: width 0.35s;
  -o-transition: width 0.35s;
  transition: width 0.35s;
}
.line-hover-btn:after,
.line-hover-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  background-color: #fff;
}
.line-hover-btn:after {
  width: 4px;
  height: 4px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.line-hover-btn.line-hover-btn_right:before {
  left: 100%;
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
.line-hover-btn.line-hover-btn_right:after {
  right: -135px;
}
.line-hover-btn.line-hover-btn_right:hover:before {
  width: 90px;
}
.line-hover-btn.line-hover-btn_right:hover:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.line-hover-btn.line-hover-btn_right:hover p {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.line-hover-btn.line-hover-btn_left:before {
  right: 100%;
  -webkit-transform: translate3d(-30px, 0, 0) scaleX(-1);
  transform: translate3d(-30px, 0, 0) scaleX(-1);
}
.line-hover-btn.line-hover-btn_left:after {
  left: -131px;
}
.line-hover-btn.line-hover-btn_left:hover:before {
  width: 90px;
}
.line-hover-btn.line-hover-btn_left:hover:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.line-hover-btn.line-hover-btn_left:hover p {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.action-btn .action-btn__label {
  position: relative;
  display: inline-block;
  height: 100%;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3375s ease-in-out;
  transition: -webkit-transform 0.3375s ease-in-out;
  -o-transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out, -webkit-transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out,
    -webkit-transform 0.3375s ease-in-out;
}
.action-btn .action-btn__label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.action-btn .action-btn__label .rolling-block-wrap,
.action-btn .action-btn__label span {
  position: relative;
  cursor: pointer;
  pointer-events: visiblePainted;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.action-btn .action-btn__label .rolling-block-wrap:before,
.action-btn .action-btn__label span:before {
  content: "";
  display: block;
  position: absolute;
  visibility: hidden;
  z-index: -1;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #121212;
}
.action-btn .action-btn__line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
}
.action-btn .action-btn__line:after,
.action-btn .action-btn__line:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: top 0.45s ease-in-out;
  -o-transition: top 0.45s ease-in-out;
  transition: top 0.45s ease-in-out;
}
.action-btn .action-btn__line:before {
  -webkit-transition-delay: 0.1125s;
  -o-transition-delay: 0.1125s;
  transition-delay: 0.1125s;
}
.action-btn .action-btn__line:after {
  -webkit-transition-delay: 0.3375s;
  -o-transition-delay: 0.3375s;
  transition-delay: 0.3375s;
}
.action-btn:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.action-btn:hover .action-btn__label {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}
.action-btn:hover .action-btn__label .rolling-block-wrap:before,
.action-btn:hover .action-btn__label span:before {
  visibility: visible;
}
.action-btn:hover .action-btn__line:after,
.action-btn:hover .action-btn__line:before {
  top: -15px;
}
.input-field {
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  background-color: transparent;
  border: 0;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}

.input-field:focus + label i {
  width: 100%;
}
.input-field.error {
  color: #ff0060;
}
.input-field.error + label i {
  width: 100%;
  background-color: #ff0060;
}
.input-field.error + label + .error-message {
  opacity: 1;
  visibility: visible;
}
.input-area {
  width: 100%;
  height: 90px;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  resize: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}
.input-area + label i {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.35s;
  -o-transition: width 0.35s;
  transition: width 0.35s;
}
.input-area:focus + label i {
  width: 100%;
}
.input-area.error {
  color: #ff0060;
}
.input-area.error + label i {
  width: 100%;
  background-color: #ff0060;
}
.input-area.error + label + .error-message {
  opacity: 1;
  visibility: visible;
}
.arrow-controls {
  position: absolute;
  width: 320px;
  height: 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.arrow-controls.hidden .arrow-controls__left,
.arrow-controls.hidden .arrow-controls__right {
  width: 0;
}
.arrow-controls.hidden .arrow-controls__left:before,
.arrow-controls.hidden .arrow-controls__right:before {
  opacity: 0;
}
.arrow-controls__left,
.arrow-controls__right {
  position: absolute;
  left: 50%;
  width: 85px;
  height: 100%;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.arrow-controls__left .line,
.arrow-controls__right .line {
  position: absolute;
  left: 0;
  top: 50%;
  right: 10px;
  height: 1px;
  background-color: #fff;
  overflow: hidden;
}
.arrow-controls__left .line:before,
.arrow-controls__right .line:before {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  left: 0;
  top: 0;
  width: 20px;
  height: 1px;
  background-color: #121212;
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
  -webkit-transition: left 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, transform 0.5s ease-in-out,
    -webkit-transform 0.5s ease-in-out;
}
.arrow-controls__left.disabled,
.arrow-controls__right.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.arrow-controls__left:before,
.arrow-controls__right:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.arrow-controls__left:hover,
.arrow-controls__right:hover {
  width: 110px;
}
.arrow-controls__left:hover .line:before,
.arrow-controls__right:hover .line:before {
  left: 100%;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.arrow-controls__left {
  -webkit-transform: translateX(-190px) scaleX(-1);
  -ms-transform: translateX(-190px) scaleX(-1);
  transform: translateX(-190px) scaleX(-1);
}
.arrow-controls__right {
  -webkit-transform: translateX(190px);
  -ms-transform: translateX(190px);
  transform: translateX(190px);
}

/*  */

.input-field + label i {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.35s, background-color 0.35s;
  -o-transition: width 0.35s, background-color 0.35s;
  transition: width 0.35s, background-color 0.35s;
}
.input-area + label i {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.35s, background-color 0.35s;
  -o-transition: width 0.35s, background-color 0.35s;
  transition: width 0.35s, background-color 0.35s;
}
.input-area:focus .field__area .highlight {
  width: 100%;
}
.contacts__content .error-message {
  font-size: 10px;
  color: #ff0060;
  right: 0;
  bottom: -6px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.65s, visibility 0.65s;
  -o-transition: opacity 0.65s, visibility 0.65s;
  transition: opacity 0.65s, visibility 0.65s;
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  background-color: transparent;
  border: 0;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}

.contacts__content .error-message,
.contacts__content .field__title .rolling-block {
  position: absolute;
  font-family: roboto_condensedbold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contacts__content .field__title .rolling-block {
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  font-size: 12px;
  color: #fff;
}

.clearfix:after,
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.contacts__content .field__title {
  float: left;
  position: relative;
  width: 160px;
  height: 70px;
}

.contacts__content .field {
  position: relative;
  height: 70px;
}

.contacts__content .bottom-field input[type="submit"] {
  display: none;
}

.contacts__content .bottom-field {
  position: relative;
  overflow-x: hidden;
  height: 120px;
}

.contacts__content .action-btn {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.35s ease-out 0.4s;
  transition: -webkit-transform 0.35s ease-out 0.4s;
  -o-transition: transform 0.35s ease-out 0.4s;
  transition: transform 0.35s ease-out 0.4s;
  transition: transform 0.35s ease-out 0.4s, -webkit-transform 0.35s ease-out 0.4s;
  transition: transform 0.35s ease-out 0.4s,
    -webkit-transform 0.35s ease-out 0.4s;
}

.contacts__content .action-btn .action-btn__label .rolling-block-wrap,
.contacts__content .action-btn .action-btn__label span {
  white-space: nowrap;
  display: inline-block;
  height: 30px;
}
.contacts__content .field__area,
.contacts__content .field__input {
  float: left;
  width: 480px;
  height: 100%;
  position: relative;
}

.contacts__content .bottom-field {
  position: relative;
  overflow-x: hidden;
  height: 120px;
}
.contacts__content .bottom-field input[type="submit"] {
  display: none;
}
.contacts__content .bottom-field .file-name {
  font-family: roboto_condensedbold, sans-serif;
  font-size: 10px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 30px;
  -webkit-transition: opacity 0.65s, visibility 0.65s;
  -o-transition: opacity 0.65s, visibility 0.65s;
  transition: opacity 0.65s, visibility 0.65s;
}
.contacts__content .rolling-block__content {
  color: #fff;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.contacts__content .action-btn {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.35s ease-out 0.4s;
  transition: -webkit-transform 0.35s ease-out 0.4s;
  -o-transition: transform 0.35s ease-out 0.4s;
  transition: transform 0.35s ease-out 0.4s;
  transition: transform 0.35s ease-out 0.4s, -webkit-transform 0.35s ease-out 0.4s;
  transition: transform 0.35s ease-out 0.4s,
    -webkit-transform 0.35s ease-out 0.4s;
}
.contacts__content .action-btn .rolling-block {
  height: 100%;
  text-align: center;
}
.contacts__content .action-btn .action-btn__progress {
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 5s;
  transition: -webkit-transform 5s;
  -o-transition: transform 5s;
  transition: transform 5s;
  transition: transform 5s, -webkit-transform 5s;
}
.contacts__content .action-btn .action-btn__label .rolling-block-wrap,
.contacts__content .action-btn .action-btn__label span {
  white-space: nowrap;
  display: inline-block;
  height: 30px;
}
.contacts__content .action-btn .rolling-block__content_active {
  opacity: 0;
}
.contacts__content .action-btn.complete .rolling-block-wrap,
.contacts__content .action-btn.progress .rolling-block-wrap {
  pointer-events: none;
}
.contacts__content .action-btn.complete .rolling-block__content_active,
.contacts__content .action-btn.progress .rolling-block__content_active {
  opacity: 1;
}
.contacts__content .action-btn.complete .rolling-block__content_normal,
.contacts__content .action-btn.progress .rolling-block__content_normal {
  opacity: 0.5;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.contacts__content .action-btn.complete .action-btn__label,
.contacts__content .action-btn.progress .action-btn__label {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.contacts__content .action-btn.complete .action-btn__label:before,
.contacts__content .action-btn.complete .action-btn__line:after,
.contacts__content .action-btn.complete .action-btn__line:before,
.contacts__content .action-btn.progress .action-btn__label:before,
.contacts__content .action-btn.progress .action-btn__line:after,
.contacts__content .action-btn.progress .action-btn__line:before {
  width: auto;
  left: 100%;
  right: 0;
  -webkit-transition: left 0.2s;
  -o-transition: left 0.2s;
  transition: left 0.2s;
}
.contacts__content .action-btn.complete .action-btn__progress,
.contacts__content .action-btn.progress .action-btn__progress {
  -webkit-transform: scaleX(0.75);
  -ms-transform: scaleX(0.75);
  transform: scaleX(0.75);
}
.contacts__content .action-btn.complete .rolling-block__content {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.contacts__content .action-btn.complete .action-btn__label {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.contacts__content .action-btn.complete .action-btn__label .rolling-block-wrap,
.contacts__content .action-btn.complete .action-btn__label span {
  cursor: default;
}
.contacts__content .action-btn.complete .action-btn__progress {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 0;
  -webkit-transition: opacity 0.35s linear 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s linear 0.35s, -webkit-transform 0.35s;
  -o-transition: transform 0.35s, opacity 0.35s linear 0.35s;
  transition: transform 0.35s, opacity 0.35s linear 0.35s;
  transition: transform 0.35s, opacity 0.35s linear 0.35s, -webkit-transform 0.35s;
  transition: transform 0.35s, opacity 0.35s linear 0.35s,
    -webkit-transform 0.35s;
}
.contacts__content .close-btn .line {
  background-color: #fff;
}
.contacts__content .preloader {
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: none;
}
.contacts__content .attach-file-btn {
  position: absolute;
  padding-left: 40px;
  right: 0;
  top: 50%;
  text-align: right;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.contacts__content .attach-file-btn input {
  display: none;
}
.contacts__content .attach-file-btn label {
  cursor: pointer;
}
.contacts__content .attach-file-btn .ico {
  left: 0;
  top: 40%;
  -webkit-transform: translate3d(0, -50%, 0) rotate(0deg);
  transform: translate3d(0, -50%, 0) rotate(0deg);
}
.contacts__content .attach-file-btn:hover .ico .line:before {
  left: -15px;
  -webkit-transition: left 0.35s;
  -o-transition: left 0.35s;
  transition: left 0.35s;
}
.contacts__content .attach-file-btn:hover .ico .line:nth-child(2):before {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.contacts__content .attach-file-btn:hover .ico .line:first-child:before {
  -webkit-transition-delay: 75ms;
  -o-transition-delay: 75ms;
  transition-delay: 75ms;
}
.contacts__content .attach-file-btn.uploading {
  pointer-events: none;
}
.contacts__content .attach-file-btn.uploading .preloader {
  display: block;
}
.contacts__content .attach-file-btn.uploading .close-btn,
.glitch-buffer {
  display: none;
}
.action-btn .action-btn__label {
  position: relative;
  display: inline-block;
  height: 100%;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3375s ease-in-out;
  transition: -webkit-transform 0.3375s ease-in-out;
  -o-transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out, -webkit-transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out,
    -webkit-transform 0.3375s ease-in-out;
}

.action-btn .action-btn__label {
  position: relative;
  display: inline-block;
  height: 100%;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3375s ease-in-out;
  transition: -webkit-transform 0.3375s ease-in-out;
  -o-transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out, -webkit-transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out,
    -webkit-transform 0.3375s ease-in-out;
}

.action-btn .action-btn__label .rolling-block-wrap,
.action-btn .action-btn__label span {
  position: relative;
  cursor: pointer;
  pointer-events: visiblePainted;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacts__content .rolling-block__content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.contacts__content .line {
  height: 1px;
  background-color: #303030;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.contacts__content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100vh;
  left: 0;
  background: #121212;
  z-index: 1000000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rolling-block__content_active {
  opacity: 0;
}

.action-btn .action-btn__label {
  position: relative;
  display: inline-block;
  height: 100%;
  font-family: uni_sansheavy_caps, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3375s ease-in-out;
  transition: -webkit-transform 0.3375s ease-in-out;
  -o-transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out, -webkit-transform 0.3375s ease-in-out;
  transition: transform 0.3375s ease-in-out,
    -webkit-transform 0.3375s ease-in-out;
}

.action-btn:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.action-btn .action-btn__line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
}

.contacts__content__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 20px;
}

.rolling-block__content .row-services_select-info_modal {
  top: -40px;
  left: -10px;
  right: none;
  cursor: pointer;
}
.row-services_select-info {
  position: relative;
  margin-left: 10px;
  height: 20px;
}
.row-services_select-info:hover .row-services_select-info_modal {
  display: block;
}
.row-services_select-info_modal {
  position: absolute;
  display: none;
  top: -50px;
  right: -100px;
  border: 1px solid #16eafd;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 786px) {
  .open-btn_link {
    left: -12px;
  }
  .IndexTopSiteName {
    top: 20px;
    left: 31px;
  }
  .IndexTopSlogan,
  .IndexTopSlogan2 {
    display: none;
  }

  .lirax-custom-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 90%;
  }
  .field,
  area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .contacts__content .bottom-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .contacts__content .attach-file-btn {
    position: relative;
  }
  .contacts__content .field__area {
    height: 50%;
  }
  .action-btn {
    margin-top: 30px;
    height: 70px;
  }
}

@media screen and (max-width: 586px) {
  .contacts__content .field__area,
  .contacts__content .field__input {
    width: 70%;
  }
  .IndexAboutR {
    width: 80%;
  }
}