$circle-width: 0.03em;
$circle-width-hover: 0.04em;
// colors default
$primary-color: #307bbb;
$secondary-color: #e0e0e0;
$bg-color: #ffffff;
$primary-color-green: #4db53c;
$primary-color-orange: #dd9d22;
$primary-color-red: #ff0036;
// colors dark skin
$primary-color-dark: #c6ff00;
$secondary-color-dark: #777;
$bg-color-dark: #666;
$primary-color-green-dark: #5fd400;
$primary-color-orange-dark: #e08833;
$primary-color-red-dark: #ac0404;
