.header {
  width: 100%;
   display: flex;
  flex-flow: row;
  justify-content: center;
}
.header__nav {
  position: fixed;
 
  background-color: rgba(36, 88, 122, 0.2);

}
.header__menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: $color_menu_txt;
  text-transform: uppercase;
  font-weight: bold;
}
.header__link_fe{
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    background-color:$color_header;
    padding: 10px 5px 10px 5px;
}
.header__link_fe h1{
    text-align: center;
    font-size: 6px;
    font-weight: 200;
}
.header__link_fe::after{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid $color_header;
}
  /*mob menu*/
  #pull{
    display: none;
  }
  .header_menu_mob{
    display: none;
  }

