.header {
 padding: 1rem 0;
 position: fixed;
 width: 100%;
 z-index: 99;
 color: #fff;
 transition: all 0.3s linear;
}
.header__block {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $green;
    padding-bottom: 0.5rem;    
}
.header__block-right{
    width: 100%;
    max-width: 80%;
}
.header__block-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}
.header__block-row:first-child{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}
.header__block-logo{
    width: 150px;
}
.header__block-btn{
    display: none;
}
.header__nav-menu{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.header__nav-menu .menu-item{
    margin: 0 1rem;
}
.header__nav-menu .menu-item a{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
}
.header__block-contact a{
    margin: 0 1.5rem;
    padding-left: 1rem;
    position: relative;
    display: block;
    padding: 0.5rem 0;
    font-size: 1.8rem;
}
.header__block-btn{
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.header__block-btn span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $blue;
}
.header__block-btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 75%;
    transition: all 0.3s;
}
.header__block-btn span:nth-child(2){
    top: 12px;
}

.header__block-btn:hover span:nth-child(3){
    width: 0%;
    right: auto;
    left: 0;
}
.callback-link{
    font-size: 1.2rem;
    color: $green;
}
.header__block-search{
    width: 50%;
}
#header_search input{
    width: 70%;
    border: none;
    border-bottom: 1px solid $green;
    background: transparent;
    margin: 0 0.5rem;
    line-height: 1.5;
    outline:none;
    color: inherit;
}

#header_search button[type=submit]{
    
    & i{
        padding-right: 1rem;
    }
}

.call-icon{
    transform: rotate(100deg);
}

.header-scroll{
    background: #ffffff;
    color: #4f4f4f!important;
    padding: 0;
    .header__block-logo{
      width: 120px;
    }
    .header__block-row{
      padding-bottom: 0;
    }
  }
.header__mob-menu{
    display: none;
    position: absolute;
    width: 100%;
    /* bottom: 0; */
    /* top: 0; */
    left: 0;
    z-index: 999999;
    background: rgba(0,0,0,0.8);
    height: 100vh;
}
.header__block-callback{
    display: block;
}
  @media screen and (max-width:1024px){
    .header__block-search{
        display: none;
    }
  }
  @media screen and (max-width:990px){
    //   .header__mob-menu{
    //       display: block;
    //   }
      .header{
          color:#fff!important;
      }
      .header__block-btn{
          display: block;
          margin-right: 1rem;
    }

      .header__mob-block{
          display: flex;
          flex-flow: column;
          background: rgba(0,0,0,0.9);
          position: absolute;
          right: 0;
          padding: 2rem 1rem;
      }
    .header__nav-menu{
        flex-flow: column;
        align-items: flex-start;
    }
    .menu-item{
        padding:1rem 0;
        a{
            padding:1rem 0;   
        }
    }
    .tel-link{
        display: block;
        padding:1rem 0;
    }
  }
  @media screen and (max-width:576px){
     .benefits__row .benefits__item-border{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $green;
      }
      .benefits__row  .benefits__item{
          min-width: 100%;
      }
    .container .slider-item-title{
        font-size: 3.6rem;
    }
    .slick-prev, .slick-next{
        display: none!important;
    }
      .header__block-right{
          display: none;
      }
    .header__block-callback  .btn-style{
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.4rem;
        
    }
  }
