.blog {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.blog__title {
  color: $colorBlack;
}
.blog__descr {
  color: $colorBlack;
}

.blog__card {
  &-block {
    &_img {
      width: 100%;
    }
    &_title {
      margin: 0;
      font-size: 1.25rem;
      font-family: $font-f2;
      color: rgb(46, 46, 46);
      font-weight: bold;
      line-height: 1.05;
    }
    &_review {
      width: 100%;

      &-item {
        padding-right: 1rem;
        font-size: 0.75rem;
        font-family: $font-f1;
        color: #a2a2a2;
        line-height: 2.833;
        i {
          font-style: normal;
        }
      }
    }
    &_descr {
      width: 100%;
      height: 60px;
      margin: 0;
      font-size: 1rem;
      font-family: $font-f1;
      color: rgb(80, 80, 80);
      line-height: 1.25;
    }
    &_btn {
      max-width: 30%;
      min-width: 20%;
      text-align: center;
      font-size: 1rem;
      font-family: $font-f1;
      text-transform: uppercase;
      padding: 0.5rem;
      color: #ffffff;
      background-color: $colorBlack;
      transition: all 0.2s linear;
      &:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: $colorRed;
      }
    }
  }
}
.card-txt-block {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.card-prev {
  margin-left: 48%;
  border-radius: 50px;
  padding: 0.875rem 1rem;
  transform: rotate(-90deg);

  font-size: 1rem;
  font-weight: 900;
  color: #a2a2a2;
  background-color: #f2f2f2;
}
.card-next {
  margin-left: 48%;
  border-radius: 50px;
  padding: 0.875rem 1rem;
  transform: rotate(90deg);

  font-size: 1rem;
  font-weight: 900;
  color: #a2a2a2;
  background-color: #f2f2f2;
}

@media screen and (max-width:480px){
  .blog__card-block_descr{
    overflow: hidden;
  }
  .blog__card-block_btn{
    max-width: 100%;
    margin-top: 1rem;
  }
}