.contact {
  position: relative;
  padding-top: 6rem;
  background-color: #ffffff;
}

.form-block {
  display: flex;
  flex-flow: column;
  position: absolute;
  left: 55%;
  bottom: 0;
  background-color: #ffffff;
  width: 35%;
  margin: 0 auto;
  padding: 3rem 2.5rem;
  box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.36);
  input {
    width: 100%;
    margin-bottom: 1.25rem;
  }
}
.form-btn {
  float: right;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.675rem;
  padding: 0.875rem 2rem;
  border: none;
  background-color: $colorBlack;
}
#form-textarea {
  width: 100%;
}
.form-block .form-block_title {
  font-size: 1.25rem;
  font-family: $font-f2;
  color: $colorBlack;
  text-transform: uppercase;
  line-height: 2.683;
}

@media screen and(max-width:768px) {
  .form-block {
    width: 300px;
    height: 50px;
    left: 10px;
    bottom: 400px;
    overflow: hidden;
    cursor: pointer;
    padding-top: 0.5rem;
    text-align: center;
    transition: all 0.2s linear;
  }
  .form-block:hover,:focus,:active {
    width: 300px;
    height: auto;
    left: 10px;
    bottom: 0;
    overflow: hidden;
    cursor: pointer;
    padding: 0.875rem 2rem;
    text-align: center;
  }
}
