.price {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.sale-card {
  &__title {
    padding: 2rem;
    font-size: 1.25rem;
    font-family: $font-f2;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.082;
    text-align: center;
    background-color: $colorBlack;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__price {
    padding: 2rem;
    background-color: #f2f2f2;
    color: $colorBlack;
    text-align: center;
    transition: all 0.2s linear;
    &-item {
      font-size: 3rem;
      font-family: $font-f1;
      font-weight: bold;
      color: inherit;
      line-height: 0.055;
      text-align: center;
    }
    &-condittion {
      // font-size: 9.601px;
      font-family: $font-f1;
      color: inherit;
      line-height: 0.172;
      text-align: center;
    }
  }
  &__descr {
    font-size: 1rem;
    font-family: "Myriad Pro";
    color: $colorBlack;
    line-height: 3.25;
    text-align: center;
    border-top: none;
    border: 1px solid #e7e7e7;
  }
  &__btn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    min-height: 2.5em;
    padding: 1rem;
    margin: 1.25rem;
    font-size: 1.125rem;
    font-family: $font-f2;
    color: rgb(255, 255, 255);
    background-color: $colorBlack;
    border: 1px solid #e7e7e7;
    text-transform: uppercase;
    line-height: 0.092;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }
}
.sale-card:hover .sale-card__price {
  background-color: $colorRed;
  color: #ffffff;
}
.sale-card:hover .sale-card__btn {
  background-color: $colorRed;
  color: #ffffff;
}
