.social {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
  background-color: $colorBlack;
}
.social__img {
  position: absolute;
  width: 100%;
  top: 0;
}

.social__bg {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.social__title {
  color: #ffffff;
}
.social__block {
  display: flex;
  flex-flow: row;
  justify-content: center;

  &-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 75px;
      height: 70px;
      margin-bottom: 2rem;
      overflow: hidden;
      border: 1px solid $colorRed;
      background-color: transparent;
      color: $colorRed;
      transition: all 0.2s linear;
      &::before {
        content: "";
        display: block;
        clear: both;
        position: absolute;
        border-top: 1px solid $colorRed;
        border-bottom: 1px solid $colorRed;
        transform: rotate(63deg);
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
      &::after {
        content: "";
        display: block;
        clear: both;
        position: absolute;
        border-top: 1px solid $colorRed;
        border-bottom: 1px solid $colorRed;
        transform: rotate(117deg);
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
      i {
        font-size: 1.5rem;
        color: inherit;
      }
      &:hover {
        text-decoration: none;
        background-color: $colorRed;
        color: #ffffff;
      }
    }

    &_users {
      color: #ffffff;
      font-size: 1rem;
      font-family: $font-f1;
      line-height: 1.375;
    }
  }
}

@media screen and(max-width:576px) {
  .social__block-item {
    margin: 0 0.5rem;
  }
  .social__block-item_link {
    width: 55px;
    height: 50px;
  }
  .social__img {
    left: -30%;
  }
}
@media screen and(max-width:767px) {
  .social__img {
    width: auto;
    height: 100%;
  }
}
