.team {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
.team__title,
.team__descr {
  text-align: center;
  color: $colorBlack;
}

.team__card {
  color: $colorBlack;
  &:hover {
    color: $colorRed;
    border: 1px solid black;
  }

  &:hover .card__img-block_link {
    color: $colorRed;
    left: 0;
    opacity: 0.9;
  }
}

.card__img-block {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.card__img-block_link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -75px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: $colorBlack;
  transition: all 0.2s linear;
  &-item {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    color: inherit;
    width: 46px;
    height: 46px;
    background-color: #ffffff;
    &:hover {
      text-decoration: none;
      background-color: $colorRed;
      color: #ffffff;
    }
  }
}
.card-title {
  font-size: 1.25rem;
  font-family: "Raleway";
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    color: inherit;
  }
}
.card-text {
  font-size: 1rem;
  font-family: "Lato";
  color: $colorBlack;
  line-height: 1.375;
  text-align: center;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .card__img-block {
    height: 180px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card__img-block {
    height: 220px;
  }
}
@media screen and (min-width: 568px) and (max-width: 767px) {
  .card__img-block {
    height: 170px;
  }
}

@media screen and (max-width: 567px) {
  #team .card {
    flex-direction: row;
    align-items: center;
  }
  .card__img-block {
    width: 50%;
    height: 220px;
  }
}

@media screen and (max-width: 479px) {
  .card__img-block_link-item {
    width: 40px;
    height: 40px;
  }
  .card__img-block {
    height: 120px;
  }
}
