.градиент {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 5000px;
    z-index: 25;
  }
  .Слой_39 {
    background-image: url("Слой 39.png");
    position: absolute;
    left: -8px;
    top: 2193px;
    width: 900px;
    height: 1072px;
    z-index: 24;
  }
  .Слой_39 {
    background-image: url("Слой 39.png");
    position: absolute;
    left: -8px;
    top: 2193px;
    width: 900px;
    height: 1072px;
    z-index: 24;
  }
    