.section-online-inst {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  background: #f3f3f3;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.online-inst__baner-right {
  position: relative;
  top: 60px;
  right: -15px;
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  background: #c2d2dd;
}
.online-inst__baner-left-img {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  width: 340px;
  overflow: hidden;
  figure {
    width: 100%;
  }
}
.online-inst-row-top {
  justify-content: space-between;
  padding-bottom: 90px;
  figure {
    width: 360px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
.online-inst__baner-list {
  list-style: none;
  padding-left: 0;
  padding-top: 50px;
  li {
    padding-bottom: 15px;
  }
  a {
    font-family: "OpenSans-Light";
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
  }
}
.online-inst__baner-social {
  display: flex;
  justify-content: flex-end;
  color: #222222;

  &-list {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 30px;
    list-style: none;
    padding-left: 0;
    a {
      transition: all 0.3s linear;
      margin-bottom: 16px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.online-inst__title {
  font-family: "HKGrotesk-Regular";
  font-size: 65px;
  text-transform: uppercase;
  color: #444444;
}
.online-inst__sub-title {
  font-family: "OpenSans-Bold";
  font-size: 18px;
  text-transform: uppercase;
  color: #444444;
}
.online-inst__baner-btn {
  display: flex;
  align-items: flex-end;

  a {
    display: flex;
    align-items: center;
    font-family: "OpenSans-Light";
    font-size: 20px;
    height: 70px;
    padding: 20px 24px;
    background: #222222;
    color: #ffffff;
    border: 1px solid #222222;
    transition: all 0.3s linear;
    .inst-row {
      filter: invert(1);
      margin-left: 15px;
    }
  }
  a:hover {
    text-decoration: none;
    background: #ffffff;
    color: #222222;
    .inst-row {
      filter: none;
    }
  }
}
.section-online-inst__baner_top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 45px;
}
.online-inst__baner-teg {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  a {
    font-family: "OpenSans-Light";
    font-size: 16px;
    text-transform: uppercase;
    color: #444444;
  }
}

.online-inst__baner-teg:nth-child(3) a:first-child {
  position: relative;
  bottom: -50px;
  right: -50px;
}
.online-inst__baner-teg:nth-child(3) a:last-child {
  position: relative;
  right: -50px;
}

.online-inst__baner-btn-block {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}

.online-inst__sub-title {
  position: relative;
  span {
    position: absolute;
    top: 0%;
    left: 0;
    opacity:0;
    &:first-child {
      animation: opac1 9s infinite 1s;
    }
    &:nth-child(2) {
      animation: opac2 9s infinite 1s;
    }
    &:last-child {
      animation: opac3 9s infinite 1s;
    }
  }
}

@keyframes opac1 {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  50% {
    opacity: 0;

  }
   85%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes opac2 {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0;
  }
  50% {
    opacity: 1;

  }
  85%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes opac3 {
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0;
  }
  50% {
    opacity: 0;

  }
  85%{
    opacity: 1;
  }
  100%{
    opacity:0;
  }
}
@media screen and(max-width:1240px) {
  .online-inst__baner-right {
    max-width: 350px;
    max-height: 350px;
  }
  .section-online-inst__baner_top {
    padding-right: 0;
  }
  .online-inst-row-top figure {
    width: 300px;
  }
  .online-inst__title {
    font-size: 46px;
  }
  .online-inst-row-top {
    margin-bottom: 15px;
  }
  .online-inst__baner-left-img {
    top: 90%;
  }
  .online-inst__baner-teg a {
    font-size: 14px;
  }
  .online-inst__baner-teg:nth-child(3) a:first-child {
    right: 0;
  }
  .online-inst__baner-teg:nth-child(3) a:last-child {
    right: 0;
  }
}
@media screen and(max-width:786px) {
  .online-inst__sub-title{
    padding-bottom: 40px;
  }
  .online-inst__baner-right {
    max-width: 320px;
    max-height: 320px;
    top: 0;
  }
  .online-inst__baner-left-img {
    bottom: -68%;
    top: auto;
  }
  .online-inst-row-top figure {
    width: 210px;
    right: 10px;
    position: relative;
  }
  .online-inst__title {
    font-size: 42px;
  }
}

@media screen and(max-width:767px) {
  .online-inst-row-top figure{
    right: -15px;
  }
  .online-inst__baner-right {
    // width: 100%;
    // max-width: 100%;
    // height: auto;
    // max-height: 100%;
    margin: 0 auto;
    top: 20px;
    right: 0;
  }
  // .online-inst__baner-right {
  //   display: flex;
  //   flex-flow: row wrap;
  //   justify-content: space-between;
  // }
  .online-inst__baner-teg a {
    padding: 5px;
  }
  .online-inst__baner-teg {
    min-width: 40%;
    justify-content: space-around;
    flex: 2;
  }
  .online-inst__baner-teg:first-child {
    // width: 110px;
    flex: 1;
  }
  .online-inst__baner-teg:nth-child(3) a:first-child {
    bottom: auto;
    right: auto;
  }
  .online-inst__baner-left-img {
    display: none;
  }
  .online-inst__baner-btn-row {
    flex-flow: row wrap-reverse;
  }
  .online-inst__baner-btn-block {
    align-items: center;
    justify-content: center;
  }
  .online-inst-row-top {
    padding-bottom: 0;
  }
}

@media screen and(max-width:700px) {
  .online-inst__baner-btn-deff-block {
    display: none;
  }
}
