.separet-baner {
  padding: 65px 0 55px 0;
  .container {
    position: relative;
  }
  &__bg {
    width: 100%;
    height: 410px;
    background: url(../img/pexels2-min.jpg) no-repeat center;
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    &-title {
      font-size: 24px;
      font-family: "MAK";
      color: rgb(1, 1, 1);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.circle-text {
  width: 350px;
  position: absolute;
  left: -100px;
  top: -150px;
  transition: all 1s ease;
  animation: rotate 25s linear infinite;
  opacity: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and(max-width:990px) {
  .separet-baner__bg-title {
    font-size: 18px;
  }
}
@media screen and(max-width:786px) {
  .separet-baner__bg-title {
    font-size: 14px;
  }
}
@media screen and(max-width:567px) {
  .circle-text {
    top: 30px;
  }
  .separet-baner__bg{
    height: 250px;
  }
}
